<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 400px;">

<img src="../assets/img/Unati-logo.png" height="150" width="140" class="mx-auto d-block mb-3"/>
<b class="text-danger">Disclaimer: Unauthorized Entry Prohibited</b>
<br>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <!-- Email Field -->
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email" required 
                 [class.is-invalid]="isInvalid('email')">
          <div *ngIf="isInvalid('email')" class="text-danger small">
            <span *ngIf="loginForm.controls['email'].errors?.['required']">Email is required.</span>
            <span *ngIf="loginForm.controls['email'].errors?.['email']">Enter a valid email.</span>
          </div>
        </div>
  
        <!-- Password Field -->
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password" required 
                 [class.is-invalid]="isInvalid('password')">
          <div *ngIf="isInvalid('password')" class="text-danger small">
            <span *ngIf="loginForm.controls['password'].errors?.['required']">Password is required.</span>
            <span *ngIf="loginForm.controls['password'].errors?.['minlength']">
              Password must be at least 6 characters.
            </span>
          </div>
        </div>
  
        <button class="btn btn-dark w-100" type="submit" [disabled]="loginForm.invalid">

            <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!isLoading">Login</span>

        </button>
      </form>
      
      <p class="text-center mt-3">Don't have an account? <a routerLink="/signup">Signup</a></p>
    </div>
  </div>
  