    body {
      font-family: Roboto;
    }

    .certificate-container {
      padding: 50px;
      width: 1024px;
    }

    .certificate {
      border: 10px solid #0C5280;
      padding: 25px;
      height: 600px;
      position: relative;
    }

    .certificate:after {
      content: '';
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      position: absolute;
      /* background-image: url(https://image.ibb.co/ckrVv7/water_mark_logo.png); */
      background-size: 100%;
      z-index: -1;
    }

    .certificate-header>.logo {
      width: 112px;
      height: 144px;
      justify-content: center;
      margin-top: -23px;

    }

    .certificate-title {
      text-align: center;
    }

    .certificate-body {
      text-align: center;
      margin-top: -25px;
    }

    h1 {

      font-weight: 400;
      font-size: 32px;
      color: #0C5280;
      margin: 0px;
    }

    .student-name {
      font-size: 24px;

    }

    .certificate-content {
      margin: 0 auto;
      /* width: 750px; */
    }

    .about-certificate {
      width: 380px;
      margin: 0 auto;
    }

    .topic-description {

      text-align: center;
      text-align: justify;
      line-height: 1.8;
      /* text-align: left; */
    }

    .text_underline {
        text-decoration: underline;
        text-decoration-style: dotted;
        text-underline-offset: 4px;
        color: black;
        font-weight: 200;
        font-style: italic;
        content: "....";
      }
      
      
      
      .text_underline::before {
        margin-right: 4px; /* Space between dots and text */
      }
      
      .text_underline::after {
        margin-left: 4px; /* Space between dots and text */
      }
      
      