<div class="certificate-container" id="content">
  <div class="certificate">
    <div class="water-mark-overlay"></div>
    <div class="certificate-header text-center">
      <img src="https://uammcl.org/assets/images/Unati-logo.png" class="logo" alt="Logo">
    </div>
    <div class="certificate-body text-center">
      <h1><b>CERTIFICATE OF SHARE</b></h1>
      <h3 style="font-size:20px; font-weight: bold; margin: 0;" class="green-color">THE UNATI AGRI ALLIED AND MARKETING MULTI STATE
        CO-OPERATIVE SOCIETY LTD.</h3>
      <strong>REGISTERED UNDER THE MULTI STATE COOPERATIVE SOCIETIES ACT 2002, REGD. NO: MSCS/CR/1424/2023</strong><br>
      <b class="green-color">5 Km Talwara Milestone, P.O. Talwara, Teh. Mukerian, Distt. Hoshiarpur, Punjab - 144216, INDIA</b>
      <br><br>
      <div class="row">
        <div class="col-md-5 text-left">
          <p style="font-size: 15px;">Register Number: <span class="text_underline">
              {{certficateDetails["certificateDetails"].register_number}}/{{certficateDetails.createdAt | date: 'yyyy'}}/UAMMCL</span></p>
        </div>
        <div class="col-md-2 text-center">
          <p></p>
        </div>
        <div class="col-md-5 text-right">
          <p style="font-size: 15px;">Certificate Number: <span
              class="text_underline">{{certficateDetails["certificateDetails"].certificate_number}}/OM/{{certficateDetails.createdAt | date: 'yyyy'}}/UAMMCL</span></p>
        </div>
      </div>
      <div class="student-name" style="margin-top: -4px;">
        <p style="font-weight: bold; font-size: 15px; margin-bottom:0px;">This is to certify that Sh./Smt./Ms.</p>
        <span class="text_underline">{{certficateDetails.nameOfApplicant}}</span>
      </div>
      <div class="certificate-content text-center">
        <p class="topic-description text-muted">
          Holding Identification Number <span
            class="text_underline">{{certficateDetails["certificateDetails"].Holding_Iden_number}}</span> from the
          State/Union Territory <span class="text_underline">{{certficateDetails.state}}</span> and residing at <span
            class="text_underline">{{certficateDetails.residentOf}}</span>
          is the registered holder of <span class="text_underline">{{certficateDetails.shares}}</span> fully paid-up
          shares,
          valued at Rs. <span class="text_underline">{{certficateDetails["certificateDetails"].value_of_share}}</span>
          Per Share, cumulatively amounting to a total of Rs. <span
            class="text_underline">{{certficateDetails["certificateDetails"].value_of_share*certficateDetails.shares}}</span>
          The shares are numbered from <span
            class="text_underline">{{certficateDetails["certificateDetails"].share_start_number}}</span> to <span
            class="text_underline">{{certficateDetails["certificateDetails"].share_end_number}}</span> inclusive
          and are held within. The Unati Agri Allied And Marketing MultiState Co-operative society Ltd., herein referred
          to as UAMMCL, in accordance with
          and subject to the Bylaws of UAMMCL. Given under the common seal of UAMMCL on <span
            class="text_underline">{{certficateDetails.createdAt | date: 'dd, MMMM yyyy' }}</span>.
        </p>
      </div>
      <div class="certificate-footer text-muted text-center">
        <div class="row">
          <div class="col-md-4">
            <img id="mt-stamp-sign" src="../../assets/img/seal.png" alt="Certified Stamp"
              style="height: 65px; width: 106px;">
            <p>Common Seal</p>
          </div>
          <div class="col-md-4">
            <img id="mt-stamp-sign" src="../../assets/img/chairman.png" alt="Certified Stamp"
              style="height: 65px; width: 106px;">
            <p>Chairman</p>
          </div>
          <div class="col-md-4">
            <img id="mt-stamp-sign" src="../../assets/img/director.png" alt="Certified Stamp"
              style="height: 65px; width: 106px;">
            <p>Director</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <button (click)="downloadPDF()" class="btn btn-dark">Download PDF</button>
</div>