<app-loader *ngIf="isLoading"></app-loader>

<div class="container mt-4" *ngIf="!isLoading">
    <div class="card">
      <div class="card-header bg-dark text-white">
        <h4>Applicantion Details</h4>
      </div>

      <div class="card-body" id="printableForm">
            
        <!-- Membership Information -->
        <h3>Membership Information</h3>
        <hr>
        <div class="section">
          <label>Name:</label> 
          <span class="line">{{ ordinaryFormDetail?.nameOfApplicant }}</span>
      </div>
      
      <div class="section">
          <label>Membership ID:</label> 
          <span class="line">{{ ordinaryFormDetail?.membership_id }}</span>
      </div>
      
      <div class="section">
          <label>State:</label> 
          <span class="line">{{ ordinaryFormDetail?.state }}</span>
      </div>
      
      <div class="section">
          <label>Resident Of:</label> 
          <span class="line">{{ ordinaryFormDetail?.residentOf }}</span>
      </div>
      
      <div class="section">
          <label>Age:</label> 
          <span class="line">{{ ordinaryFormDetail?.age }}</span>
      </div>
      
      <div class="section">
          <label>Date of Birth:</label> 
          <span class="line">{{ ordinaryFormDetail?.dateOfBirth | date }}</span>
      </div>
      
      <div class="section">
          <label>Marital Status:</label> 
          <span class="line">{{ ordinaryFormDetail?.maritalStatus }}</span>
      </div>
      
      <div class="section">
          <label>Educational Qualification:</label> 
          <span class="line">{{ ordinaryFormDetail?.educationalQualification }}</span>
      </div>

      <div class="section">
        <label>Full Name:</label> 
        <span class="line">{{ ordinaryFormDetail?.nameOfApplicant }}</span>
    </div>
    
    <div class="section">
        <label>Mother's Name:</label> 
        <span class="line">{{ ordinaryFormDetail?.mothersName }}</span>
    </div>
    
    <div class="section">
        <label>Wife's Name:</label> 
        <span class="line">{{ ordinaryFormDetail?.wifesName }}</span>
    </div>
    
    <div class="section">
        <label>Age:</label> 
        <span class="line">{{ ordinaryFormDetail?.age }}</span>
    </div>
    
    <div class="section">
        <label>Date of Birth:</label> 
        <span class="line">{{ ordinaryFormDetail?.dateOfBirth | date }}</span>
    </div>
    
    <div class="section">
        <label>Educational Qualification:</label> 
        <span class="line">{{ ordinaryFormDetail?.educationalQualification }}</span>
    </div>
    
    <div class="section">
        <label>Marital Status:</label> 
        <span class="line">{{ ordinaryFormDetail?.maritalStatus }}</span>
    </div>
    
    <div class="section">
        <label>Permanent Address:</label> 
        <span class="line">{{ ordinaryFormDetail?.permanentAddress }}</span>
    </div>
    
    <div class="section">
        <label>Permanent Pin Code:</label> 
        <span class="line">{{ ordinaryFormDetail?.permanentPinCode }}</span>
    </div>
    
    <div class="section">
        <label>Present Address:</label> 
        <span class="line">{{ ordinaryFormDetail?.presentAddress }}</span>
    </div>
    
    <div class="section">
        <label>Present Pin Code:</label> 
        <span class="line">{{ ordinaryFormDetail?.presentPinCode }}</span>
    </div>
    
    <div class="section">
        <label>Telephone Number:</label> 
        <span class="line">{{ ordinaryFormDetail?.telephoneNumber }}</span>
    </div>
    
    <div class="section">
        <label>Email:</label> 
        <span class="line">{{ ordinaryFormDetail?.email }}</span>
    </div>
    
    <div class="section">
        <label>Aadhar Card:</label> 
        <span class="line">{{ ordinaryFormDetail?.aadharCard }}</span>
    </div>
    
    <div class="section">
        <label>PAN Card:</label> 
        <span class="line">{{ ordinaryFormDetail?.panCard }}</span>
    </div>
    
    <h3>Nomination Details</h3>
    <hr>
    
    <div class="section">
        <label>Name:</label> 
        <span class="line">{{ ordinaryFormDetail?.nomination?.name }}</span>
    </div>
    
    <div class="section">
        <label>Relation:</label> 
        <span class="line">{{ ordinaryFormDetail?.nomination?.relation }}</span>
    </div>
    
    <div class="section">
        <label>Occupation:</label> 
        <span class="line">{{ ordinaryFormDetail?.nomination?.occupation }}</span>
    </div>
    
    <div class="section">
        <label>Address:</label> 
        <span class="line">{{ ordinaryFormDetail?.nomination?.address }}</span>
    </div>
    
    <div class="section">
        <label>Age:</label> 
        <span class="line">{{ ordinaryFormDetail?.nomination?.age }}</span>
    </div>
    
    <h3>Certificate Details</h3>
    <hr>
    
    <div class="section">
        <label>Register Number:</label> 
        <span class="line">{{ ordinaryFormDetail?.certificateDetails?.register_number }}</span>
    </div>
    
    <div class="section">
        <label>Certificate Number:</label> 
        <span class="line">{{ ordinaryFormDetail?.certificateDetails?.certificate_number }}</span>
    </div>
    
    <div class="section">
        <label>Holding Identification Number:</label> 
        <span class="line">{{ ordinaryFormDetail?.certificateDetails?.Holding_Iden_number }}</span>
    </div>
    
    <div class="section">
        <label>Share Start Number:</label> 
        <span class="line">{{ ordinaryFormDetail?.certificateDetails?.share_start_number }}</span>
    </div>
    
    <div class="section">
        <label>Share End Number:</label> 
        <span class="line">{{ ordinaryFormDetail?.certificateDetails?.share_end_number }}</span>
    </div>
    
    <h3>Payment Details</h3>
    <hr>
    
    <div class="section">
        <label>Receipt Number:</label> 
        <span class="line">UAMMCL/MEM/{{ ordinaryFormDetail?.receiptNumber }}</span>
    </div>
    
    <div class="section">
        <label>Payment Mode:</label> 
        <span class="line">{{ ordinaryFormDetail?.paymentMode }}</span>
    </div>
    
      
    </div>
      
    </div>
  </div>
<br>
  <div class="container shadow-lg p-3 mb-5 bg-white rounded" *ngIf="!isLoading">
    <button class="btn btn-dark" *ngIf="!isLoading" [routerLink]="['/receiptordinary', ordinaryFormId]">Receipt</button>
    &nbsp;<button class="btn btn-secondary" 
        *ngIf="!isLoading" [routerLink]="['/certificate', ordinaryFormId]">Certificate</button>
        &nbsp;
        <button class="btn btn-dark" (click)="printDiv()">Print Form</button>
   
</div>
  