<br><br>
<div class="certificate" id="content" style="margin-left:20%;">
  <div class="header">
    <img src="../../../assets/img/Unati-logo.png" alt="Logo">
    <h5 style="text-align: center;">The Unati Agri Allied and Marketing Multistate Cooperative Society Ltd <br><span class="hindititle">बहुराज्य सहकारी समितियां अधिनियम 2002 के अन्तर्गत, पंजीकृत संख्या MSCS/CR/1424/2023</span></h5>
  </div>

  <div class="content">
      <!-- <p class="para">बहुराज्य सहकारी समितियां अधिनियम 2002 के अन्तर्गत पंजीकृत संख्या MSCS/CR/1424/2023<br>(REGISTERED UNDER THE MULTI STATE COOPERATIVE SOCIETIES ACT 2002, REGD. NO MSCS/CR/1424/2023)</p> -->
      <p class="para"><strong>पंजीकृत कार्यालय:</strong> 5 Km तलवाड़ा मीतका पत्थर, तलवाड़ा, तहसील मुकेरियां जिला - होशियारपुर पंजाब - 144216<br><strong>Regd. Office:</strong> 5 Km Talwara Mile stone, PO. Talwara, Tehsil. Mukerian, Distt. Hoshiarpur, Punjab-144216</p>
      <p class="para2">प्रमाणित किया जाता है कि इस प्रलेख में उल्लिखित समिति/व्यक्ति,दी उनति एग्री एलाइड और मार्केटिंग बहुराज्य सहकारी समिती लिमिटेड के उप नियमों के अंतर्गत विनि‌दिष्टविशिष्ट के शेयर/शेयरों का/के पंजीकृत धारक है।हैं और यह भी कि इस/इन शेयर/शेयरों की मुद्राकित राशी का भुगतान कर दिया गया है।<br>
          THIS IS TO CERTIFY that the Society/(ies)/Person(s) named in this document is/are the Registered Holder(s) of within mentioned share(s) being the distinctive number(s) herein specified in the Unati Agri Allied and Marketing Multistate Cooperative Society Limited subject to the provision of its Bye-Laws and that the amount endorsed herein has been paid up on such share(s).
      </p>
  </div>
  <hr>
  <div class="table-container">
      <h1 style="font-size: 20px; text-align: center;">SHARE CONTRIBUTION AND DETAILS AS ON 13/05/2024</h1>
      <p class="para2"><strong>Membership No.:</strong> {{certficateDetails["memberInformation"].membership_id}}  </p>
      <p class="para2"><strong class="float-left">Regt No.:</strong> {{certficateDetails["certificateDetails"].register_number}}</p>
      <p class="para2"><strong>Society Name:</strong> {{certficateDetails["registrationInformation"].nameOfApplicant | uppercase}}</p>
      <p class="para2"><strong>Address:</strong> {{certficateDetails["registrationInformation"]["registeredAddress"].state}}, {{certficateDetails["registrationInformation"]["registeredAddress"].city}}, {{certficateDetails["registrationInformation"]["registeredAddress"].district}}, {{certficateDetails["registrationInformation"]["registeredAddress"].tehsil}}, {{certficateDetails["registrationInformation"]["registeredAddress"].pinCode}}, {{certficateDetails["registrationInformation"]["registeredAddress"].zone}}</p>
      <table>
          <tr>
              <th>Denomination (₹)</th>
              <th>Share Certificate Number</th>
              <th>Share Certificate Date</th>
              <th>Distinctive No(s) From</th>
              <th>Distinctive No(s) To</th>
              <th>No. of Shares</th>
              <th>Share Capital Subscribed (₹)</th>
              <th>Share Capital Paid Up (₹)</th>
          </tr>
          <tr>
              <td>{{certficateDetails["certificateDetails"].value_of_share}}</td>
              <td>{{certficateDetails["certificateDetails"].certificate_number}}/NM/{{certficateDetails.createdAt | date: 'yyyy'}}/UAMMCL</td>
              <td>{{certficateDetails.createdAt | date: 'dd, MMMM yyyy' }}</td>
              <td>{{certficateDetails["certificateDetails"].share_start_number}}</td>
              <td>{{certficateDetails["certificateDetails"].share_end_number}}</td>
              <td>{{certficateDetails["memberInformation"].shares}}</td>
              <td>{{certficateDetails["certificateDetails"].value_of_share*certficateDetails["memberInformation"].shares}}</td>
              <td>{{certficateDetails["certificateDetails"].value_of_share*certficateDetails["memberInformation"].shares}}</td>
          </tr>
          <tr>
              <td colspan="5"><strong>Total</strong></td>
              <td><strong>{{certficateDetails["memberInformation"].shares}}</strong></td>
              <td><strong>{{certficateDetails["certificateDetails"].value_of_share*certficateDetails["memberInformation"].shares}}</strong></td>
              <td><strong>{{certficateDetails["certificateDetails"].value_of_share*certficateDetails["memberInformation"].shares}}</strong></td>
          </tr>
      </table>
  </div>
  <div class="acknowledgement">
      <h3 class="para"><b>Acknowledgement</b></h3>
      <p class="para2"><strong>Verified and acknowledge the Details of Share Capital and new Share Certificates</strong></p>
      <p class="para2">टिप्पणी: इस प्रलेख में उल्लिखित शेयर / शेयरों का मोचन / हस्तांतरण या ब्यौरे में अन्य कोई बदलाव के लिए, इस प्रलेख को समिति के तलवाड़ा स्थित 
      पंजीकृत कार्यालय में भेजना होगा।</p>
      <p class="para2"><strong>Note:</strong>In case of redemption/transfer of Share(s) comprised in this document or any other change in particulars, this document will be required to be sent at Regd. Office of Society at Talwara, P.O. Talwara, Tehsil Mukerian, Distt. Hoshiarpur, Punjab (India) - 144216</p>
      <div class="signatures">
        <div class="sign-block">
          <img src="../../../assets/img/chairman.png" alt="Sign">
          <p><strong>Authorised Signatory:</strong><br>Chairman/Secretary</p>
        </div>
        <div class="sign-block">
          <img src="../../../assets/img/seal-removebg-preview.png" alt="Sign">
          <p><strong>Authorised Seal</strong></p>
        </div>
      </div>
      
  </div>
</div>
<br>
<br>

<div class="container">
  <!-- <button (click)="downloadPDF()" class="btn btn-dark" style="margin-left:20%;">Download PDF</button> -->
  <button class="btn btn-dark" style="margin-left:20%;" (click)="printCertificate()">Print or Download Certificate</button>
</div>