<div class="main-container" *ngIf="authService.isAuthenticated()">
  <!-- Top bar -->
  <div class="top-bar">
    <div class="hamburger-wrapper" (click)="toggleSidebar()">
      <div class="hamburger" [class.active]="sidebarOpen">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="page-title">
      <h2 class="text-light">Share Management</h2>
    </div>
  </div>

  <!-- Sidebar -->
  <div class="sidebar" [class.open]="sidebarOpen">
    <div class="sidebar-header">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/Unati-logo.png" height="150" width="130"/>
        
      </a>
      <span><b>Share Management</b></span>
      <div class="powered-by">
        Powered By <a href="https://wakeupcoders.com" target="_blank">Wakeupcoders</a>
      </div>
    </div>
    
    <ul class="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/ordinary" routerLinkActive="active">Ordinary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nominal" routerLinkActive="active">Nominal</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/requests" routerLinkActive="active">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://wakeupcoders.com/contact" target="_blank">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>

  <!-- Main content - page content goes here -->
  <div class="content-area" [class.sidebar-open]="sidebarOpen">
    <!-- Your page content goes here -->
    <router-outlet></router-outlet>
  </div>
</div>